.container{
  margin-top: 10%;
  width: 30%;
  height: 15cm;
  border-radius: 3%;
  padding: 1%;
  margin-left: 0%;
  color: wheat;
  background-color: lightslategrey;
}
.row{
  color: wheat;
  font-size: larger;
}
input{
  border-radius: 10px;
  border-color: lightblue;
  width: 250px;
  height: 30px;
}
button{
  border-radius: 10px;
  width: 75px;
  height: 30px;
}
button:hover:not(.active){
  border-radius: 10px;
  width: 75px;
  height: 30px;
  background-color: wheat;
}