body{
    background: linear-gradient(to top,rgba(32,32,32,0.5)50%,rgba(32,32,32,0.5)50%),url("train.jpg")fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 109vh;
    
  }
  .topnav ul li {
      color: red;
      padding: 8px 8px;
      text-decoration: blue;
      font-size: 15px;

    }
  .topnav ul li{
    font-size: 25px;
    float: left;
      margin: 20;
      padding: 30;
      display: flex;
      width: 150px;
      text-decoration: none;
      height: 30px;
  }
  .topnav {
    padding: 30px 40px 35px 40px;  
      overflow: hidden;
      /* background-color:white; */
      color:red;
      opacity: 1;
    } 
    .img{
        height: fit-content;
        width: fit-content;
        background-attachment: fixed;
    }